.form-input {
  position: relative;
}

.text-input {
  padding: 5px 10% 5px 50px;
  display: block;
}

.icon {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 17px;
  height: 100%;
  display: flex;
  align-items: center;
}

#check-input-box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

form{
  width: 100%;
  max-width: 608px;
  padding: 20px;
}

button{
  width: 100%;
}

#eye{
  left: 93%;
}

#container{
  overflow:hidden;
}
