.form-input {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.text-input {
  padding: 5px 10px 5px 50px;
  display: block;
}

.icon {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 17px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#check-input-box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
