<div class="row align-items-center p-0 m-0">
  <div class="d-flex align-items-center justify-content-center col-7">
    <img
      src="/assets/img/ranger.png"
      class="img-fluid"
      style="opacity: 0.7"
      alt="imagem da ford ranger"
    />
  </div>

  <div
    class="d-flex flex-column align-items-center justify-content-center col-5 bg-light"
    style="height: 100vh;"
  >
    <div class="pt-3 d-flex flex-column align-items-center">
      <img
        src="/assets/img/ford.png"
        class="img-fluid"
        style="max-width: 35%; object-fit: contain;"
        alt="ford logo"
      />
    </div>

    <div>
      <h2 class="text-secondary mb-4" style="margin-top: 6rem">Boas-vindas</h2>
    </div>

    <div class="alert alert-danger mb-3" *ngIf="error">
      <p> {{ error }} </p>
    </div>

    <form class="form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="form-input form-outline" style="width: 100%;">
        <span class="icon">
          <fa-icon [icon]="['fas', 'user']" class="text-secondary"></fa-icon>
        </span>
        <input
          class="form-control text-input"
          type="text"
          name="username"
          placeholder="Usuário"
          required
          ngModel
        />
      </div>

      <div class="form-input form-outline mt-4" >
        <span class="icon">
          <fa-icon [icon]="['fas', 'lock']" class="text-secondary"></fa-icon>
        </span>
        <input
          class="form-control text-input"
          type="password"
          name="password"
          placeholder="Senha"
          required
          ngModel
        />
      </div>

      <div id="check-input-box" class="form-check form-switch mt-4">
        <label class="form-check-label mx-5" for="switch-check"
          >Logar automaticamente</label
        >

        <input
          (change)="onChange()"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="switch-check"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-md btn-block font-weight-bold mt-4"
        [disabled]="!loginForm.valid"
      >
        Entrar
      </button>
    </form>
  </div>
</div>
