<nav *ngIf="user$ | async as user">
  <div *ngIf="user.username">
  <div
    class="sidebar"
    [ngStyle]="{ width: sidebarWidth, 'background-color': sidebarBg }"
  >
    <div
      class="d-flex flex-row align-items-center justify-content-between"
      style="height: 60px"
    >
      <div class="px-2">
        <img src="/assets/img/ford.png" alt="" style="height: 40px" />
      </div>
      <div class="sidebar-btn px-3" (click)="closeMenu()">
        <fa-icon
          [icon]="['fas', 'xmark']"
          [styles]="{ color: 'gray' }"
          size="lg"
        ></fa-icon>
      </div>
    </div>
    <a routerLink="/home" class="sidebar-link">Home</a>
    <a routerLink="/dashboard" class="sidebar-link">Dashboard</a>
  </div>

  <div
    id="top-menu-icons"
    class="d-flex flex-row justify-content-between"
  >
    <div class="sidebar-btn">
      <fa-icon
        [icon]="['fas', 'bars']"
        size="2x"
        (click)="openMenu()"
      ></fa-icon>
    </div>

    <div id="user-icon" class="popover-wrapper">
      <fa-icon
        [icon]="['fas', 'user']"
        class="text-secondary popover-title"
      ></fa-icon>
      <div class="popover-content">
        <fa-icon [icon]="['fas', 'user']" class="text-secondary"></fa-icon>

        <p style="display: inline; padding-left: 10px">{{ user.username }}</p>
        <hr />
        <a
          routerLink="/"
          (click)="logout()"
          style="text-decoration: none"
          class="mx-3"
          >Logout</a
        >
      </div>
    </div>
  </div>
</div>
</nav>

<div
  class="dim"
  (click)="closeMenu()"
  [ngStyle]="{ 'background-color': darkenBg, 'z-index': onTop }"
></div>
