<nav>
  <div
    class="sidebar"
    [ngStyle]="{ width: sidebarWidth, 'background-color': sidebarBg }"
  >
    <div
      class="d-flex flex-row align-items-center justify-content-between"
      style="height: 60px"
    >
      <div class="px-2">
        <img src="/assets/img/ford.png" alt="" style="height: 40px" />
      </div>
      <div class="sidebar-btn px-3" (click)="closeMenu()">
        <fa-icon
          [icon]="['fas', 'xmark']"
          [styles]="{ color: 'gray' }"
          size="lg"
        ></fa-icon>
      </div>
    </div>
    <a href="#" class="sidebar-link">Home</a>
    <a href="#" class="sidebar-link">Dashboard</a>
  </div>

  <div class="sidebar-btn" style="margin: 20px" (click)="openMenu()">
    <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
  </div>
</nav>

<div
  class="dim"
  [ngStyle]="{ 'background-color': darkenBg, 'z-index': onTop }"
></div>
