
.sidebar {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with Typescript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebar-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  background-color: rgba(175, 175, 175, 0.243);
  color: rgb(118, 209, 144);
}

.sidebar-link:hover {
  border-left: solid red;
  opacity: 0.7;
}

.sidebar-btn fa-icon:hover {
  transition: 0.1s;
  opacity: 0.6;
}

.dim{
  position:fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#user-icon{
  padding: 5px;
  border: solid 2px rgb(224, 224, 224);
  border-radius: 15px;
}

#user-icon:hover{
  opacity: .8;
}

#top-menu-icons{
  margin: 16px; 
  margin-bottom: 0; 
  width: 97%;
}

.popover-wrapper {
  position: relative;
  display: inline-block;
  z-index: 3;
}

.popover-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -114px;
  transform: translate(0, 10px);
  background-color: #fffcfc;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  width: 135px;
  height: 120px;
}
.popover-content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(7% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;

}
.popover-wrapper:hover .popover-content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 13px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover-message {
  text-align: center;
}
