<main class="d-flex flex-column align-items-center">
  <h1 id="dash-title">Dashboard FORD</h1>

  <section class="d-flex justify-content-around mt-3" style="width: 100vw">
    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">Veículo</h5>
      <div class="card-body">
        <select class="form-select" [(ngModel)]="selected">
          <option *ngFor="let car of cars" [value]="car.id">
            {{ car.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">
        Total de vendas
      </h5>

      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected - 1].volumetotal }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">Conectados</h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected - 1].connected }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">
        Update Software
      </h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected - 1].softwareUpdates }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>
  </section>

  <div class="mt-3">
    <img src="{{ cars[selected - 1].address }}" alt="" style="height: 250px" />
  </div>

  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>Código - Vin</th>
        <th>Odômetro</th>
        <th>Nível de Combustível %</th>
        <th>Status</th>
        <th>Lat.</th>
        <th>Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            (keypress)="searchVehicleData()"
            placeholder="Pesquise veículo"
            type="text"
            class="form-control"
            [(ngModel)]="vin"
          />
        </td>
        <td>{{ data.odometer }}</td>
        <td>{{ data.fuelLevel }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.lat }}</td>
        <td>{{ data.long }}</td>
      </tr>
    </tbody>
  </table>
</main>
