#dash-title{
  color: #2A6BAC;
}

thead{
  background-color: #133A7C;
  color: white;
}

.card{
  min-height: 141px;
  height: 21vh;
  max-height: 162px;
  min-width: 127px;
  width: 14vw;
  max-width: 239px;
}

img{
  max-width: 45vw;
  max-height: 269px;
  min-width: 300px;
  object-fit: contain
}

footer{
  height: 15px;
  width: 100%;
  background-color: #133A7C;
}

#search-bar{
  width: 86%;
  padding: 4px;
}

#add-bar{
  width: 77%;
  padding: 4px;
}

.icons{
  border: solid 1.5px rgb(180, 177, 177);
  padding: 2px;
}

.icons:hover{
  opacity: 0.8;
}

#icon-add{
  background-color: #133A7C;
}

#vehicle-popup{
  position:static;
  background-color: red;
  width: 30vw;
  height: 60vh;
}
