<main >

  <div class="d-flex flex-column align-items-center">
    <h1 id="dash-title">Dashboard FORD</h1>
  </div>

  <section class="d-flex justify-content-around mt-3" style="width: 100vw">
    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">Veículo</h5>
      <div class="card-body">
        <select class="form-select" [(ngModel)]="selected" (ngModelChange)="chartDataUpdate( [ veiculos[selected].totalSales,veiculos[selected].connected ] )">
          <option *ngFor="let veiculo of veiculos; index as i" [value]="i" >
            {{ veiculo.model }}
          </option>
        </select>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">
        Total de vendas
      </h5>

      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected].totalSales }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">Conectados</h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected].connected }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">
        Update Software
      </h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected].softwareUpdates }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>
  </section>

  <div class="my-4 d-flex flex-row justify-content-between" style="height: 270px;">
    <img src="{{ 'http://localhost:3000/'+veiculos[selected].path.replace('\\','/') }}"
    alt="vehicle image"
    style="width: 600px; height:236px" />

    <div style="position: relative; height:80px; ">
      <canvas #connectedVehiclesCanvas style="height:120px;"></canvas>
    </div>
  </div>

  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>Código - Vin</th>
        <th>Odômetro</th>
        <th>Nível de Combustível %</th>
        <th>Status</th>
        <th>Lat.</th>
        <th>Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            (keypress)="searchVehicleData()"
            placeholder="Pesquise veículo"
            type="text"
            class="form-control"
            [(ngModel)]="vin"
          />
        </td>
        <td>{{ data.odometer }}</td>
        <td>{{ data.fuelLevel }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.lat }}</td>
        <td>{{ data.long }}</td>
      </tr>
    </tbody>
  </table>
</main>
<footer></footer>
