<main>
  <div class="d-flex flex-column align-items-center">
    <h1 id="dash-title">Dashboard FORD</h1>
  </div>

  <section
    class="d-flex justify-content-around mt-3 flex-wrap"
    style="width: 100%"
  >
    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">Veículo</h5>
      <div class="card-body">
        <select
          class="form-select"
          [(ngModel)]="selected"
          (ngModelChange)="this.googleChartsInit()"
        >
          <option *ngFor="let veiculo of veiculos; index as i" [value]="i">
            {{ veiculo.model }}
          </option>
        </select>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">
        Total de vendas
      </h5>

      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected].totalSales }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">Conectados</h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected].connected }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>

    <div class="card border-2 border-secondary">
      <h5 class="card-header border-secondary text-secondary">
        Update Software
      </h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ veiculos[selected].softwareUpdates }}
        </h5>
        <p class="text-secondary">unid.</p>
      </div>
    </div>
  </section>

  <div
    style="width: 100%"
    class="my-4 d-flex justify-content-md-between justify-content-sm-center flex-wrap"
  >
    <img
      src="{{
        'http://localhost:3000/' + veiculos[selected].path.replace('\\', '/')
      }}"
      alt="vehicle image"
    />

    <div  id="doughnut-chart-connected"></div>
    <div style="margin: 15px;" id="doughnut-chart-updated"></div>
  </div>

  <table class="w-100 table table-bordered m-0">
    <thead>
      <tr>
        <th style="width: 27%;">Código - Vin</th>
        <th>Odômetro</th>
        <th style="width: 20%;"> Nível de Combustível (%)</th>
        <th>Status</th>
        <th>Lat.</th>
        <th>Long.</th>
      </tr>
    </thead>
    <tbody style="font-size: 1.2rem;">
      <tr>
        <td *ngIf="mode === 'search' || mode === 'found' || mode === 'add'"
          class="d-flex align-items-center justify-content-between"
          >
          <input
            *ngIf="mode === 'search' || mode === 'found'"
            id="search-bar"
            (keypress)="searchVehicleData()"
            placeholder="Pesquisar Veículo"
            type="text"
            class="form-control"
            [(ngModel)]="vin"
          />
          <input
            *ngIf="mode === 'add'"
            id="add-bar"
            placeholder="Adicionar Veículo"
            type="text"
            class="form-control"
            [(ngModel)]="vin"
          />

          <span style="margin-left: 5px ;" class="icon" *ngIf=" mode === 'search'" (click) = "mode = 'add'; emptyData(true)">
            <fa-icon [icon]="['fas', 'plus']" class="icons text-secondary"></fa-icon>
          </span>

          <div *ngIf="mode === 'add'" style="width: 22%;" class="d-flex justify-content-around">
            <span class="icon" (click) = "mode = 'search';">
              <fa-icon [styles]="{'color':'white'}" id="icon-add" [icon]="['fas', 'plus']" class="icons text-secondary"></fa-icon>
            </span>
            <span class="icon" (click) = "mode = 'search'; postVehicleData()">
              <fa-icon [styles]="{'color':'green'}" [icon]="['fas', 'check']" class="icons text-secondary"></fa-icon>
            </span>
            <span class="icon" (click) = "mode = 'search';">
              <fa-icon [styles]="{'color':'red'}" [icon]="['fas', 'xmark']" class="icons text-secondary"></fa-icon>
            </span>
          </div>

          <div *ngIf=" mode === 'found'" style="width: 18%;" class="d-flex justify-content-around">
            <span class="icon" (click) = "mode = 'update';">
              <fa-icon [icon]="['fas', 'arrows-rotate']" class="icons text-secondary"></fa-icon>
            </span>
            <span class="icon" (click) = "removeVehicleData()">
              <fa-icon [icon]="['fas', 'trash-can']" class="icons text-secondary"></fa-icon>
            </span>
          </div>

        </td>

        <td *ngIf=" mode === 'update'" class="d-flex justify-content-between">
          {{ vin }}
          <div style="width: 22%;" class="d-flex justify-content-around">
            <span class="icon" (click) = "mode = 'found';">
              <fa-icon
              [styles]="{'color':'white'}"
              [icon]="['fas', 'arrows-rotate']"
              class="icons text-secondary"
              style="background-color: #133A7C;"
              >
              </fa-icon>
            </span>
            <span class="icon" (click) = "updateVehicleData()">
              <fa-icon [styles]="{'color':'green'}" [icon]="['fas', 'check']" class="icons text-secondary"></fa-icon>
            </span>
            <span class="icon" (click) = "mode = 'search'; emptyData(true)">
              <fa-icon [styles]="{'color':'red'}" [icon]="['fas', 'xmark']" class="icons text-secondary"></fa-icon>
            </span>
          </div>
        </td>

        <td *ngIf=" mode === 'search' || mode === 'found'">{{ data.odometer }}</td>
        <td *ngIf=" mode === 'search' || mode === 'found'">{{ data.fuelLevel }}</td>
        <td *ngIf=" mode === 'search' || mode === 'found'">{{ data.status }}</td>
        <td *ngIf=" mode === 'search' || mode === 'found'">{{ data.lat }}</td>
        <td *ngIf=" mode === 'search' || mode === 'found'">{{ data.long }}</td>

        <td *ngIf=" mode === 'add' || mode === 'update'"> <input type="text" class="form-control" [(ngModel)]="data.odometer"></td>
        <td *ngIf=" mode === 'add' || mode === 'update'"> <input type="text" class="form-control" [(ngModel)]="data.fuelLevel"></td>
        <td *ngIf=" mode === 'add' || mode === 'update'"><input type="text" class="form-control" [(ngModel)]="data.status"></td>
        <td *ngIf=" mode === 'add' || mode === 'update'"><input type="text" class="form-control" [(ngModel)]="data.lat"></td>
        <td *ngIf=" mode === 'add' || mode === 'update'"><input type="text" class="form-control" [(ngModel)]="data.long"></td>
      </tr>
    </tbody>
  </table>
</main>
<footer></footer>
